# Vivado Specific
*.jou              # Journal files (comenzile Tcl executate)
*.log              # Log files
.Xil/              # Folderul temporar de rulare Vivado
*.str              # Fișiere de tip "stress" / UI state

# Proiect și Rezultate
*.runs/            # Rezultatele sintezei și implementării (Sute de MB!)
*.cache/           # Cache-ul de proiect
*.hw/              # Hardware dashboard data
*.sim/             # Rezultatele simulărilor
*.ip_user_files/   # Fișiere generate pentru IP-uri
*.gen/             # Surse generate automat